<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pubnative.lite.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".consent.UserConsentActivity" />
        <activity
            android:name=".interstitial.activity.MraidInterstitialActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="behind"/>
        <activity
            android:name=".interstitial.activity.VastInterstitialActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="behind"/>
        <activity
            android:name=".rewarded.activity.VastRewardedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"/>
    </application>
</manifest>
