<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pubnative.lite.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".consent.UserConsentActivity" />
        <activity android:name=".interstitial.activity.MraidInterstitialActivity" />
        <activity android:name=".interstitial.activity.VastInterstitialActivity" />
        <activity android:name=".rewarded.activity.VastRewardedActivity" />
    </application>
</manifest>
