<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver android:name="net.pubnative.lite.sdk.receiver.VolumeChangedActionReceiver" />
        <activity
            android:name="net.pubnative.lite.sdk.contentinfo.AdFeedbackActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="net.pubnative.lite.sdk.utils.browser.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false" />
    </application>
</manifest>