<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pubnative.lite.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".vast2.activity.VASTActivity" />
        <activity android:name=".consent.UserConsentActivity" />
    </application>
</manifest>
