<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pubnative.tarantula.sdk" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".interstitial.activity.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".interstitial.vast.activity.VASTActivity" />
    </application>
</manifest>
