<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".HyBidDemoApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".ui.activities.NavigationActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.hybid.HyBidNativeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_native"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.hybid.HyBidBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.hybid.HyBidStickyBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.hybid.HyBidInFeedBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_medium"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.hybid.HyBidInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.hybid.HyBidRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/hybid_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.maxads.MaxAdsMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.maxads.MaxAdsMediationMRectActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_mrect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.maxads.MaxAdsMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.maxads.MaxAdsMediationRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.maxads.MaxAdsMediationNativeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_native"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.dfp.DFPMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/dfp_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.dfp.DFPMediationMRectActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/dfp_medium"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.dfp.DFPMediationLeaderboardActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/dfp_leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.dfp.DFPMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/dfp_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationMRectActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_medium"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationMRectVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_medium"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationLeaderboardActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationInterstitialVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_interstitial_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.admob.AdmobMediationNativeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_native"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ironsource.IronSourceMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/ironsource_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ironsource.IronSourceMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/ironsource_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ironsource.IronSourceMediationRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/ironsource_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.fairbid.FairbidMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/fairbid_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.fairbid.FairbidMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/fairbid_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.fairbid.FairbidMediationRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/fairbid_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationBannerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_banner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationMRectActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_mrect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationMRectVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_mrect_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationLeaderboardActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationInterstitialActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_interstitial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationInterstitialVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_interstitial_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationRewardedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_rewarded"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.chartboost.ChartboostMediationRewardedHtmlActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/chartboost_mediation_rewarded_html"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.config.HyBidSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/pn_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.AdCustomizationActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/pn_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.MaxAdsSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/maxads_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.DFPSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/dfp_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.AdmobSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/admob_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.IronSourceSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/ironsource_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.FairbidSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/fairbid_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.KeywordsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_pn_keywords"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.ZoneIdsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_pn_zone_ids"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.config.BrowserPriorityActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_browser_priority"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.markup.MarkupActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_markup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.apitester.LegacyApiTesterActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_legacy_api"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.creativetester.P161CreativeTesterActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_creative_tester"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.signaldata.SignalDataActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_signal_data_tester"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.CustomSDKDataActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/custom_sdk_data"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.ReportingEventDetailsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/event_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.UrlInspectorActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/url_inspector"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.consent.VgiIdActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_vgi_id"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.consent.GoogleCMPActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_google_cmp"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.consent.ConsentStringsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/title_consent_strings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.consent.GppSettingsActivity"
            android:label="@string/title_gpp_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.vast.VastTagRequestActivity"
            android:label="@string/title_vast_tag"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activities.admob.MediationTestSuiteActivity"
            android:label="@string/admob_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f61a9f30a8156746aae4b1cc84856189a3bf8575" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8741261465579918~1379849443" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="sMRyqsHzbW5B55p5RLfJTNaXBH1rFzvkU5_LGa_Kerigolzf62Jl6iwzLtMIqn2XRt0tDol1bAc8g0N7C7c51N" />

        <property android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ad_services_config" />
    </application>
</manifest>